<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <script src="/socket.io/socket.io.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/javascripts/index.js"></script>
    <script src="/javascripts/app.js"></script>
</head>
<body>
<div id="initial_form" style="display: block">
    <h1><%= title %></h1>
    <button id="start"onclick="initMedia()">Start capture</button>
    <p>
        <video class="prephoto" autoplay></video>
        <img class="postphoto" src="" style="display: none">
        <div>
        <button class="prephoto"onclick="snapshot()" style="display:none">Take Photo</button>
        <button class="postphoto" onclick="save()" style="display:none">Save Photo</button>
        <button class="postphoto" onclick="retake()" style="display:none">Retake Photo</button>

        <button class="usephoto"onclick="sendphoto()" style="display:none">Use Photo</button>
        </div>


        <canvas style="display: none;"></canvas>
    </p>


</div>

</body>
</html>
